{% extends 'base.html' %}

{% block content %}


<div class="container">
    <div class="row">
        <form action="{{url_for('korisnik_novi')}}" method="POST">
            <h3>Novi korisnik</h3>
            <div class="form-group">
                <label for="exampleInputText1">Ime</label>
                <input type="text" class="form-control" id="exampleInputText1" name="ime" required>
            </div>
            <div class="form-group">
                <label for="exampleInputText1">Prezime</label>
                <input type="text" class="form-control" id="exampleInputText1" name="prezime" required>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email adresa</label>
              <input type="email" class="form-control" id="exampleInputEmail1" name="email" required>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Lozinka</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="lozinka" required>
            </div>
            <div class="form-group">
              <label>Rola</label>
              <select name="rola" class="form-control">
                  <option>Odaberi</option>
                  <option value="administrator">Administrator</option>
                  <option value="profesor">Profesor</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Napravi</button>
        </form>
    </div>
</div>



{% endblock %}