{% extends 'base.html' %}

{% block content %}



<div class="container">
    <div class="row">
        <form action="{{url_for('predmet_novi')}}" method="POST">
            <h3>Novi predmet</h3>
            <div class="form-group">
                <label for="exampleInputText1">Sifra predmeta</label>
                <input type="text" class="form-control" id="exampleInputText1" name="sifra" required>
            </div>
            <div class="form-group">
                <label for="exampleInputText1">Naziv</label>
                <input type="text" class="form-control" id="exampleInputText1" name="naziv" required>
            </div>
            <div class="form-group">
                <label for="exampleInputText1">Godina studija</label>
                <input type="text" class="form-control" id="exampleInputText1" name="godina_studija" required>
            </div>
            <div class="form-group">
                <label for="exampleInputText1">ESPB</label>
                <input type="text" class="form-control" id="exampleInputText1" name="espb" required>
            </div>
            <div class="form-group">
                <label for="exampleInputText1">Obavezni / Izborni</label> <br>
                <select name="obavezni_izborni" required>
                    <option value = "obavezni">Obavezni</option>
                    <option value = "izborni">Izborni</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Napravi</button>
        </form>
    </div>
</div>



{% endblock %}